doctype html
html(ng-app="sailsBlog")
    head
        base(href="/")
        title SailsBlog
        meta(charset='utf-8')
        meta(name='description' content='SailsBlog application')
        meta(charset='utf-8')
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        // Linker inject styles here
        //STYLES
        //STYLES END

    body
        div(ui-view="")

        // Linker inject scripts here
        //SCRIPTS
        //SCRIPTS END
